<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.slit.wnnext.skin.lgux9">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/launcher_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="jp.co.omronsoft.wnnext.ADD_SKIN" />
            </intent-filter>
        </activity>
        <meta-data android:name="appcnt" android:value="1" />
        <meta-data android:name="settingfile1" android:resource="@drawable/keyimage_keyboard_setting" />
    </application>
</manifest>